@model RedWallet.Models.SendModels.SendDetail

@{
    ViewBag.Title = "Delete Transaction";
}
<br />
<br />

<div class="d-flex p-2 justify-content-center">
    <div class="col-lg-15 text-center" ">
        <h2>@ViewBag.Title?</h2>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WalletName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WalletName)
        </dd>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color text-center">

                    <input type="submit" value="Delete Transaction" class="btn bg-danger text-white shadow" />

                </div>
            }

        </div>
        <div>
            <button type="submit" class="btn bg-dark text-white shadow m-2" onclick="location.href='@Url.Action("Index", "Send", new { walletId = Model.WalletId })'">No, Don't Delete</button>

        </div>
        <div>
            <button type="submit" class="btn bg-secondary text-white shadow m-2" onclick="location.href='@Url.Action("Index", "Send", new { walletId = Model.WalletId })'">Other Wallets</button>

        </div>


    </div>
</div>
