
@using Microsoft.AspNet.Identity
@model IEnumerable<RedWallet.Models.SendModels.SendListItem>

@{
    ViewBag.Title = "Index";
}

<div class="card-title text-center mt-5">
    <div class="col-lg-15">
        <h2>@User.Identity.GetUserName()'s Sent Transactions From Wallet @ViewData["WalletName"]: </h2>
    </div>
</div>

@if (Model.FirstOrDefault() == null)
{
    <div class="d-flex p-2 justify-content-center">
        <div class="col-lg-15 text-center">
            <div>
                <h1>No Transactions Found.</h1>
                <div class="col-lg-15">
                    <input type="submit" value="Send New Transaction" class="btn btn-long bg-secondary text-white shadow" onclick="location.href='@Url.Action("Create", "Send", new { walletId = ViewData["WalletId"] })'" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex p-2 justify-content-center">
        <div class="col-lg-15 text-center">
            <div class="col-lg-2 d-inline-block mb-2">
                <button type="submit" class="btn btn-long bg-danger text-white shadow" onclick="location.href='@Url.Action("Create", "Send", new { walletId = ViewBag.WalletId })'">Send New Transaction</button>
            </div>
            <br />
            <div class="col-lg-15 table-responsive card shadow">
                <div id="user-sends" class="col-lg-14 card shadow">
                    <table class="table table-striped table-dark table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="th-sm text-center">
                                    Created
                                </th>
                                <th class="th-sm text-center">
                                    Transaction
                                </th>
                                <th class="th-sm text-center">
                                    Wallet
                                </th>

                                <th class="th-sm text-center">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Created.ToString("MM/dd/yyyy hh:mm tt")</td>

                                    <td style="font-weight: bold">@Html.ActionLink(item.TransactionHash, "Details", "Send", new { id = item.SendId }, new { @class = "detail-link" })</td>
                                    <td style="font-weight: bold">@Html.ActionLink(item.WalletName, "Details", "Wallet", new { id = item.WalletId }, new { @class = "detail-link" })</td>

                                    <td class="text-center">
                                        @Html.ActionLink("Details", "Details", "Send", new { id = item.SendId }, new { @class = "detail-link" }) |
                                        @Html.ActionLink("Delete", "Delete", "Send", new { id = item.SendId }, new { @class = "detail-link" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
