@model IEnumerable<RedWallet.Models.SendModels.SendListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { walletId = ViewData["WalletId"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WalletName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionHash)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WalletName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionHash)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.SendId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SendId })
        </td>
    </tr>
}

</table>
