@model RedWallet.Models.AddressModels.AddressCreate

@{
    ViewBag.Title = "Get New Public Address";
}

<br />
<br />
<div class="card-title text-center mt-5">
    <div class="col-lg-15">
        <h2>@ViewBag.Title From @Model.WalletName:</h2>
    </div>
</div>

<div class="d-flex p-2 justify-content-center">
    <div class="col-lg-15">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.WalletId)
                @Html.HiddenFor(model => model.WalletName)
                <div class="form-group fw-bold">
                    @Html.LabelFor(model => model.Passphrase, htmlAttributes: new { @class = "control-label col-lg-15" })
                    <div class="col-lg-15">
                        @Html.EditorFor(model => model.Passphrase, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Passphrase, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-15">
                        <input type="submit" value="Create" class="btn btn-long bg-danger text-white shadow mt-3 mb-2" />
                    </div>
                </div>
            </div>
        }
        <div class="col-lg-15">
            <button type="submit" class="btn btn-long bg-secondary text-white shadow" onclick="location.href='@Url.Action("Index", "Address", new { walletId = Model.WalletId })'">Other Addresses</button>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
