
@model RedWallet.Models.AddressModels.AddressDetail

@{
    ViewBag.Title = "Address Details";
}
<br />
<br />

<div class="d-flex p-2 justify-content-center">
    <div class="col-lg-15 text-center">
        <h2>@ViewBag.Title:</h2>
        @if (TempData["SaveResult"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show">
                <strong>Succes!</strong> @TempData["SaveResult"]
            </div>
        }
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.WalletName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WalletName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PublicAddress)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PublicAddress)
                </dd>
            </dl>
        </div>

        </dl>
        @if (ViewBag.QRCodeImage != null)
        {
            <dl class="dl-horizontal">
                <dt>
                    Address QR Code
                </dt>
                <dd>
                    <img src="@ViewBag.QRCodeImage" alt="" style="height:300px;width:300px" />
                </dd>
            </dl>
        }
        <p>
            <div class="col-lg-15">
                <button type="submit" class="btn bg-secondary text-white shadow" onclick="location.href='@Url.Action("Index", "Address", new { walletId = Model.WalletId })'">Other Addresses</button>
            </div>
        </p>
    </div>


</div>

