@model RedWallet.Models.DashboardModels.DashboardViewModel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Send", "Index", "Send", new { walletId = 5 }, new { })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Receive", "Index", "Request", new { walletId = 5 }, new { })
                </li>
            </ul>
        </div>

        <!-- Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>


                        <!-- Stuff in the dashboard -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>