@model RedWallet.Models.WalletModels.WalletCreate

@{
    ViewBag.Title = "Create New Wallet";
}
<br />
<br />
<div class="card-title text-center mt-5">
    <div class="col-lg-15">
        <h2>@ViewBag.Title.</h2>
    </div>
</div>

<div class="d-flex p-2 justify-content-center">
    <div class="col-lg-15">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.WalletName, htmlAttributes: new { @class = "control-label col-lg-15" })
                <div class="col-lg-15">
                    @Html.EditorFor(model => model.WalletName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Passphrase, htmlAttributes: new { @class = "control-label col-lg-15" })
                <div class="col-lg-15">
                    @Html.EditorFor(model => model.Passphrase, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassphrase, htmlAttributes: new { @class = "control-label col-lg-15" })
                <div class="col-lg-15">
                    @Html.EditorFor(model => model.ConfirmPassphrase, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EntropyInput, htmlAttributes: new { @class = "control-label col-lg-15" })
                <a href="https://en.wikipedia.org/wiki/Entropy_(computing)" target="_blank" rel="noreferrer">(what is this?)</a>

                <div class="col-lg-15">
                    @Html.EditorFor(model => model.EntropyInput, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>



            <div class="form-group">
                <div class="col-lg-15">
                    <input type="submit" value="Create" class="btn btn-long bg-danger text-white shadow mt-3 mb-2" />
                </div>
            </div>
        }

        <div class="col-lg-15">
            <button type="submit" class="btn btn-long bg-secondary text-white shadow" onclick="location.href='@Url.Action("Index", "Wallet")'">Other Wallets</button>
        </div>
        
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
