@using RedWallet.WebMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<br />
<br />
<br />

<div class="card-title text-center mt-5">
    <div class="col-lg-15">
        <h1 class="text-danger title-text" type="submit" onclick="location.href='@Url.Action("Index", "Dashboard")'">RedWallet</h1>
        <p class="lead">RedWallet is a free web application for creating and managing Bitcoin wallets.</p>
    </div>

</div>

<div class="d-flex p-2 justify-content-center">
    <div class="col-lg-15">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-lg-15 control-label" })
                    <div class="col-lg-15">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group justify-content-center">
                    @Html.LabelFor(m => m.Password, new { @class = "col-lg-15 control-label" })
                    <div class="col-lg-15">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-lg-15">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-15">
                        <input type="submit" value="Log in" class="btn btn-long bg-danger text-white shadow mb-2" />
                    </div>
                </div>
                
                @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            }
        </section>
        <div class="col-lg-15">
            <input type="submit" value="New User?" class="btn btn-long bg-secondary text-white shadow" onclick="location.href='@Url.Action("Register", "Account")'" />
        </div>
    </div>
</div>