@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "_RenderLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        table {
            table-layout: fixed;
        }

            table td {
                word-wrap: break-word;
            }
    </style>
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div id="wrapper">
            @Html.Partial("_Sidebar")
            <div id="page-content-wrapper">
                <!-- Page Content -->
                <div class="row">
                    <div class="col">
                        <a href="#menu-toggle" class="btn bg-danger text-white shadow mb-3" id="menu-toggle"><i class="fas fa-bars"></i>  Menu</a>
                    </div>
                    <div class="col">
                        <h1 class="text-danger page-title" type="submit" onclick="location.href='@Url.Action("Index", "Dashboard")'">RedWallet</h1>
                    </div>
                    <div class="col px-0 mx-0"></div>
                </div>
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        <div id="page-content-wrapper">
            <!-- Page Content -->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    }



    <footer>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/SidebarScript.js")

    @RenderSection("scripts", required: false)

</body>
</html>







