
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="nav-item">
            @Html.Partial("_LoginPartial")
        </li>
        <li class="nav-item">
            <a href="#">
                <br />
                <i class="fab fa-bitcoin"></i>
                @Html.ActionLink("Dashboard", "Index", "Dashboard")
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <br />
                <i class="fas fa-coins"></i>
                @Html.ActionLink("Wallets", "Index", "Wallet", new { }, new { @id = "wallet-nav-link" })
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <br />
                <i class="fas fa-arrow-up"></i>
                @Html.ActionLink("Send", "Index", "Send", new { }, new { @id = "send-nav-link" })
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <br />
                <i class="fas fa-arrow-down"></i>
                @Html.ActionLink("Receive", "Index", "Request", new { }, new { @id = "request-nav-link" })
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->



