
@model RedWallet.Models.RequestModels.RequestDetail

@{
    ViewBag.Title = "Address Details";
}
<br />
<br />

<div class="d-flex p-2 justify-content-center">
    <div class="col-lg-15 text-center">
        <h2>@ViewBag.Title:</h2>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.WalletName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WalletName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RequestAddress)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RequestAddress)
                </dd>



            </dl>
        </div>


        </dl>
        @if (ViewBag.QRCodeImage != null)
        {
            <img src="@ViewBag.QRCodeImage" alt="" style="height:300px;width:300px" />
        }
        <p>
            <div class="col-lg-15">
                <button type="submit" class="btn bg-secondary text-white shadow" onclick="location.href='@Url.Action("Index", "Request", new { walletId = Model.WalletId })'">Other Addresses</button>
            </div>
        </p>
    </div>
    

</div>

